* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
    font-family: monospace;
}

.recipe-links {
    background-color: white;
    width: 350px;
    height: auto;
    padding: 20px;
    border-bottom: 20px solid black;
}

#index-card h1 {
    background-color: black;
    color: white;
    width: 350px;
    height: auto;
    text-align: center;
    font-family: Arial;
    letter-spacing: -2px;
    font-style: italic;
    padding: 20px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: yellow;
}

.recipe-links li {
    list-style-type: none;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: small;
}

#recipe-card h1 {
    background-color: black;
    color: white;
    width: 700px;
    height: auto;
    text-align: center;
    font-family: Arial;
    letter-spacing: -2px;
    font-style: italic;
    padding: 20px;
    margin-top: 50px;
    box-sizing: border-box;
}

.recipe-content h2 {
    font-family: Arial;
    letter-spacing: -1.5px;
    font-style: italic;
}

.recipe-content {
    background-color: white;
    width: 700px;
    height: auto;
    padding: 50px 70px;
    border-bottom: 20px solid black;
}

#recipe-card p {
    margin-bottom: 10px;
}

#recipe-card img {
    margin-bottom: 50px;
}

#recipe-card ul {
    margin-bottom: 10px;
}

.instructions ol {
    margin-left: 25px;
}

.ingredients ul {
    margin-left: 35px;
}

img {
    display: block;
    border: 1px solid black;
}

.method {
    font-family: "Courier New", monospace;
    /* letter-spacing: -1.5px;
    font-style: italic; */
}

.one {
    margin-bottom: 10px;
}
