body {
    font-family: "Courier New", Courier, monospace;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

p,
li {
    font-family: Arial, sans-serif;
}

h2 {
    background-color: rgb(225, 222, 255);
}
